* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

.container {
    border-color: black;
    border-radius: 3px;
}
.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    align-items: center;
    align-items: flex-start;

}
.flex-box {
    width: 200px;
    height: 200px;
    background: black;
    color: white;
    border-radius: 100px;

}

.flex-box1 {
    width: 200px;
    height: 200px;
    background: white;
    color: white;
    border-radius: 100px;

}

.flex-box2 {
    width: 200px;
    height: 200px;
    background: black;
    color: white;
    border-radius: 0px;

}

.flex-box3 {
    width: 200px;
    height: 200px;
    background: rgb(238, 233, 233);
    color: rgb(165, 162, 162);
    border-radius: 100px;

}